<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MOHAMMED ||NKSS</title>
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>

  <title></title>
</head>

<body>

  {% include "navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px; margin-top:35px;">About Us !</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    <h1 class="display-4">NKSS</h1>
    <p class="lead">Nkaimurunya Mixed Secondary School is an outstanding government based secondary School located in Ongata Rongai with the best facilities. 
      Our core values are; Intergrity, Discipline, Fear of the Lord, Team-Work Hardwork and innovateness<br>
      We believe that every student whatever their circumstances, holds the innate potential to achieve their goals and succeed in life regardless of challenges, we are unwavering in our commitment to consistently approach every student not in terms of what they lack but in terms of what is possible.</p>
    <hr class="my-4">
    <p>Explore our System.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
  </div>

  {% include "footer.html" %}
</body>

</html>
