{% extends 'adminbase.html' %}

{% block content %}

<head>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>

</head>

<div class="container">

  <div class="row">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title">Students</h6>

      </div>

      <table class="table table-hover" id="dev-table">
        <thead>

          <tr>
            <th>Name</th>
            <th>Reg No.</th>
            <th>Class</th>
            <th>Date Joined</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Parent</th>
            <th>parent Contact</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        {% for s in students %}
        <tr>
          <td> {{s.student_first_name}} {{s.student_last_name}}</td>
          <td>{{s.registration_number}}</td>
          <td>{{s.student_class}}</td>
          <td>{{s.date_joined}}</td>
          <td>{{s.student_age}}</td>
          <td>{{s.student_gender}}</td>
          <td>{{s.parent_first_name}} {{s.parent_last_name}}</td>
          <td>{{s.parent_phone_number}}</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'update_student' s.username  %}"><span class="glyphicon glyphicon-edit"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'delete_student' s.username  %}"><span class="glyphicon glyphicon-trash"></span></a></td>

        </tr>

        {% endfor %}
      </table>
    </div>


  </div>
</div>

{% endblock content %}
