{% extends 'home.html' %}
{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">Hello, Parent</h1>
  <p class="lead">Welcome to Nkaimurunya Secondary School.</p>
  <hr class="my-4">
  <p>Login to access various features.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="parentsignup" role="button">New Admission</a>
    <a class="btn btn-primary btn-lg" href="parentlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
