{% extends 'home.html' %}
{% block content %}
<br><br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">Hello, Teacher</h1>
  <p class="lead">Welcome to NKSS School Management System.</p>
  <hr class="my-4">
  <p>Login to access various features.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="teacherlogin" role="button">Login</a>
    <a class="btn btn-primary btn-lg" href="teachersignup" role="button">Signup</a>
  </p>
</div>
{% endblock content %}

